<form  class="w-full pt-2 space-y-1">
  <!-- fecha emision -->
  <div class="w-full md:mb-2">
    <label class="text-xs font-medium text-gray-800" > Fecha Inicio</label>
    <div class="flex w-full px-2 border border-gray-300 rounded ">
        <input class="w-full px-2 py-2 text-sm placeholder-gray-500 focus:outline-none"
            name="fechaemision"
            placeholder="17/10/2020"
            [matDatepicker]="fechaemision"
            required >
        <mat-datepicker #fechaemision> </mat-datepicker>
        <button type="button" (click)="fechaemision.open()"
            class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
            <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
        </button>
    </div>
    <!-- <input type="text" placeholder="21/02/2021" required class="forms-control focus"> -->
  </div>


  <!-- fecha emision -->
  <div class="w-full md:mb-2">
    <label class="text-xs font-medium text-gray-800" for=""> Fecha Fin</label>
    <div class="flex w-full px-2 border border-gray-300 rounded ">
        <input class="w-full px-2 py-2 text-xs placeholder-gray-500 focus:outline-none"
            name="fechaemision"
            placeholder="17/10/2020"
            [matDatepicker]="fechaemision"
            required >
        <mat-datepicker #fechaemision> </mat-datepicker>
        <button type="button" (click)="fechaemision.open()"
            class="flex items-center justify-center w-10 p-1 transition duration-300 ease-in border-white rounded-full cursor-pointer focus:outline-none focus:text-green-400 h-9 hover:border-green-500 hover:bg-gray-200 focus:bg-gray-200">
            <svg class="w-6 h-6 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"/><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z" /></svg>
        </button>
    </div>
  </div>


  <!-- boton de  aplicar -->
  <div class="flex items-center justify-center space-x-2 pt-4" >
    <button  class="rounded-3xl text-xs  py-2 focus:outline-none font-medium btn   w-full border  text-red-600 transition duration-500 ease-in">   Cancelar </button>
    <button matDialogClose class="rounded-3xl text-xs py-2 focus:outline-none font-medium  text-white  w-full bg-red-600 hover:bg-red-700 transition duration-500 ease-in">   Aplicar </button>
  </div>
</form>
