
  <!-- tabs -->
  <ion-tabs>
    <!-- pendientes -->
    <ion-tab-bar slot="bottom" color="success" >
      <ion-tab-button class="focus:bg-green-500" tab="pendientes" >
        <ion-icon name="calendar"></ion-icon>
        <ion-label class="text-sm">Pendientes</ion-label>
        <ion-badge class="bg-red-500 text-xs w-5 h-5 rounded-full">2</ion-badge>
      </ion-tab-button>


      <!-- historial -->
      <ion-tab-button class="focus:bg-green-500"  tab="historial">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label class="text-sm font-medium">Historial</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
