/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
/* @import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css"; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.gradien{
  position: absolute;
  width: 469.23px;
  height: 467.32px;
  left: 210px;
  top: 424.03px;
  background: linear-gradient(180deg, #8FAF00 0%, #008100 100%);
  transform: matrix(-0.72, -0.6, 0.8, -0.72, 0, 0);
  }

  /* Border para error de un input */

  // .alert-button.sc-ion-alert-md {
  //   padding-left: unset;
  //   padding-right: unset;
  //   -webkit-padding-start: 10px;
  //   background-color: #D9002F;
  //   color: white;
  //   border-radius: 50px;
  //   font-size: 15px;
  //   font-weight: 400;
  //   text-transform: uppercase;
  //   padding: 3px 8px    }


  .alert-button.sc-ion-alert-md {
    padding: 6px 10px;
    font-weight: 500;
    border-radius: 5px;
    background: #c02144;
    font-size: 13px;
    color: white;
  }

  .alert-button.sc-ion-alert-md {
    padding: 6px 10px;
    font-weight: 500;
    border-radius: 5px;
    background: #c02144;
    font-size: 13px;
    color: white;
  }





  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }


.error {
  box-shadow: 0 0 3px #d45252;
  border-color: #e74c3c;
}

/* Border para exito de un input */

.success {
  box-shadow: 0 0 3px #5cd053;
  border-color: #2ecc71;
}


.btnn:hover{
  background:#ffffff;
  color: #c02144;
  border-radius: 3px;
  border: solid 1px  #c02144;
}



.btnn:focus{
  outline: none;
}
