#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// focus
.focus:focus{
  outline: none;
  box-shadow: 0 0 3px #0281f8;
  border-color: #0281f8;
}

.btn{
  background: #FEC008;
  padding: 1px 12px;
  border-radius: 55px;
  color: black;
}
.btn:hover{
  background:#fdc828;
}

.btn:focus{
  outline: none;
}

